<form action="/admin/product_post" method="post" enctype="multipart/form-data">
    <h1 class="p">ADD PRODUCTS</h1>
<div class="rental"><br><br>
    <div class="rent">
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Name" required placeholder="Name">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Price" required placeholder="Price">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Category" required placeholder="Category">
  </div>
  <div class="form-group">
    <input type="file" class="form-control" id="" aria-describedby="emailHelp" name="Image" required placeholder="image">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" aria-describedby="emailHelp" required pattern="[0-9]{6}" title="Enter a valid 6-digit pincode" name="Pincode" value="{{data.Pincode}}"  name="Pincode" placeholder="pincode">
  </div>
  
  <div class="form-group">
  <button type="submit" class="submit">Add</button>
  </div>
  
  </div>
</div>
</form>