{{!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">
    3
  
  </style>
</head>
<body>
  <div class=bg>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
  <a class="navbar-brand" href="#">Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    
  </button>
  <div>
    
       
      </li>
    </ul>
  </div>
</nav>
  </div>
  <div class="shadow">
    <br>
<a href="/">view workers</a><br>
<a href="/">view farmers</a><br>
<a href="/">add rental</a><br>
<a href="/">view products</a><br>
<a href="/">view reviews</a><br>
<a href="/">Confirm workers</a><br>
<a href="/">Confirm farmers</a><br>
<a href="/">View booking</a><br>
</div>

</div>
<div class="content">
 content
</div>
</body>
</html> --}}