<form action="/admin/notification_post" method="post" enctype="multipart/form-data">
    <h1 class="p">ADD NOTIFICATION</h1>
<div class="noti"><br><br>
    <div class="rent ">
  <div class="form-group">
    <input type="text" class="form-control" id="" required name="Notification" placeholder="Enter notification">
  </div>
  <div class="form-group">
  <button type="submit" class="submit">Add</button>
  </div>
  
  </div>
</div>
</form>