<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <style type="text/css">


  </style>
</head>

<body>
  <span>
  <div class=bg>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
      <a class="navbar-brand" href="#">Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

      </button>
      <div>


        </li>
        </ul>
      </div>
    </nav>
  </div>



  <div style="display:flex;flex-direction: column;">
    <div class="shadow" id="">
      <br>
      <a class="ad" href="/admin/view_notification"><img src="/images/person.svg"> View Notification</a><br>
      {{!-- <a class="ad" href="/admin/view_farmers"><img src="/images/person.svg"> View farmers</a><br> --}}
      <a class="ad"  href="/admin/products"><img src="/images/shop.svg"> Products</a><br>
      <a class="ad" href="/admin/view_rental"><img src="/images/shop.svg"> Rental</a><br>
      <a class="ad" href="/admin/view_products"><img src="/images/view-list.svg"> View products</a><br>
      <a class="ad" href="/admin/review"><img src="/images/view-list.svg"> View reviews</a><br>
      <a class="ad" href="/admin/confirm_workers"><img src="/images/person.svg"> Confirm workers</a><br>
      <a class="ad" href="/admin/confirm_farmers"><img src="/images/person.svg"> Confirm farmers</a><br>
      <a class="ad" href="/admin/view_booking"><img src="/images/view-list.svg"> View booking</a><br>
            <a class="ad" href="/admin/logout"><img src="/images/logout.svg"> Logout</a><br>

    </span>
    </div>
    <div class="content">

      {{{body}}}
    </div>
  </div>







</body>

</html>




<style>
  .shadow .adminpar-left-ATage:active {
    background-color: green;
  }
</style>