<meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
<div class="cust">
</div>
<div class="custnav">
<a class="cust_a"><img src="/images/logout.svg">&nbsp; Logout</a>
<a class="cust_a" href="/cart"><img src="/images/cart.svg">&nbsp; Cart</a>
<a class="cust_a"><img src="/images/orders.svg">&nbsp; Orders</font> </a>
    </div>
    <div class="cust_content">
    {{{body}}}
    </div>