<meta name=”viewport” content=”width=device-width, initial-scale=1.0”>
<div class="cust">
<img src="/images/as.png" class="image">
</div>
<div class="custnav">
<a class="cust_a" href="/admin/logout"><img src="/images/logout.svg">&nbsp; Logout</a>
{{!-- <a class="cust_a" href="/user/cart"><img src="/images/cart.svg">&nbsp; Cart</a> --}}
<a class="cust_a" href="/user/orders"><img src="/images/orders.svg">&nbsp; Orders</font> </a>
    <a class="cust_a" href="/user">&nbsp; HOME</font> </a>

    </div>
    <div class="cust_content">
    {{{body}}}
    </div>