<head>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <style type="text/css">

  </style>
</head>

<div class="farm">
  <div>
    <a class="we" href="/farmer"><button class="home_button">Home</button></a>
  </div>
  <a class="fa" href="/farmer/view_orders"><img src="/images/view-list.svg" />
    View orders</a>
  <a class="fa" href="/farmer/work_request"><img src="/images/view-list.svg" />
    Work request</a>
  <a class="fa" href="/farmer/view_product"><img src="/images/view-list.svg" />
    View products</a>
  <a class="fa" href="/farmer/sell_product"><img src="/images/view-list.svg" />
    Sell products</a>
  <a class="fa" href="/farmer/view_work"><img
      src="/images/view-list.svg"
    />Accepted works</a>
  <a class="fa" href="/farmer/my_orders"><img src="/images/person.svg" />
    My orders</a>
  <a class="fa" href="/farmer/profile"><img
      src="/images/person.svg"
    />Profile</a>
  <a class="fa" href="/farmer/profile"><button
      class="button2"
    >Logout</button></a>

</div>

<div class="farmcontent">
  {{{body}}}
</div>