<div class="home">
    
    <img src="images/home.jpg" class="home_image">
    
</div>
<nav class="nav_home">
    <a class="a_home">Shop now</a>
    <div class="dropdown">
  <span>Register</span>
  <div class="dropdown-content">
    <p>Farmer</p>
    <p>Customer</p>
    <p>Worker</p>
  </div>
</div>
    <a class="a_home">Login</a>
</nav>
<div class="bottom-left">KISAN SEVA</div>
 <div class="cust_content">
    {{{body}}}
    </div>