 <div class="work_request">Work Requests</div>
    <div><form>
    <datalist id="suggestions" >
        <option>First option</option>
        <option>Second Option</option>
    </datalist>
    <input  autoComplete="on" list="suggestions" class="data" placeholder="Pincode"/>
    <input type="submit" value="search" class="search_button">
</form></div><br><br>
<div class="work_body">
<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>

    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>
    </div>
  </div>
    </div>

    <div class="col-sm">
     <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>

    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>
    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div>

    <div class="col-sm">
      <div class="card req row-sm" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Work type</h5>
    <h6 class="card-subtitle mb-2 text-muted">Location</h6>
    <p class="card-text">Date</p>
    <p class="card-text">Contact</p><br>
    <a href="#" class="card-link"><input type="button" class="search_button" value="Accept"></a>

    </div>
  </div>
    </div></div></div></div>
 <div class="work_request">Reviews</div>


    
  </div>
</div>