<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  </head>
  <body style="
    height: 62rem;
">
    {{#if adminroute}}
    {{>adminpar}}
    {{/if}}
    {{#if farmerroute}}
    {{>farmerpar}}
    {{/if}}
    {{#if custeroute}}
    {{>customerpar}}
    {{/if}}
    {{#if homeroute}}
    {{>hompar}}
    {{/if}}
    {{#if register}}
    {{>register}}
    {{/if}}
    {{#if workroute}}
    {{>workpartial}}
    {{/if}}
  
    {{!-- {{{body}}} --}}
  </body>
</html>
