<form action="/farmer_register_post" method="post"  enctype="multipart/form-data">
    <h1 class="p">FARMER REGISTER</h1>
<div class="register"><br><br>
    <div class="rent">
  <div class="form-group">
    {{#if err}}
    {{err}}
    {{/if}}
    <input type="text" required  class="form-control reg"  id=""  name="Full_Name" placeholder="Full Name" required><br>
  </div>
  <div class="form-group">
    <input type="tel" class="form-control reg"  id=""  pattern="[0-9]{10}"
       name="Contact" placeholder="Contact"  required><br>
  </div>
  <div class="form-group">
    <input type="text" required  class="form-control reg"  id=""  name="Pincode" placeholder="pincode" pattern=".{6,}" title="must contain atleast 6 numbers" required><br>
  </div>
  <div class="form-group">
    <input type="file" class="form-control reg"  id=""  name="Photo" placeholder="Photo" required><br>
  </div>
   <div class="form-group">
    <input type="file" class="form-control reg"  id=""  name="Id_proof" placeholder="Id proof" required><br>
  </div>
  <div class="form-group">
    <input type="text" required  class="form-control reg"  id=""  name="Username" placeholder="Create username" required><br>
  </div>
  <div class="form-group">
    <input type="password" required  class="form-control reg"  id=""  name="Password" placeholder="Create Password" pattern=".{8,}" title="must contain atleast 8characters" required><br> 
  </div>
  <div class="form-group">
  <div class="form-group">
  <button type="submit" class="button3">Register</button>
  </div>
    <input type="text" required  class="form-control reg"  id=""  name="type" value="farmer" hidden><br> 
  </div>
  <div class="form-group">
    <input type="text" required  class="form-control reg"  id=""  name="status" value="pending" hidden><br> 
  </div>
  
  </div>
</div>
</form>