
<img src="/images/tomato.jpg" class="b_image">
<div class="booking">
Name<br>
Price<br>
Rating<br>
Description<br>
stock<br><br>
<form>
<a href="/user/cart"><input type="button" value="ADD TO CART" class="button2"></button></a>
</div></form>
<div class="rating">
    name     reviews<br>
             ratings
</div>