
<img src="/images/ft.jpg" class="b_image">
<div class="booking">
Name<br>
Price<br>
Rating<br>
Description<br>
slots<br>
<form>
<input type="date"  class="form-control" placeholder="date">
<br><textarea placeholder="Address"></textarea><br><br>
<button value="Book" class="button2">Book</button>
</div></form>
<div class="rating">
    name     reviews<br>
             ratings
</div>