<div class="prof">
<img src="/images/id_proof/{{data._id}}.jpg" class="pro"><br>
<table class="t_pro">
    <center><tr><td>{{data.Full_Name}}</td></tr>
    <tr><td>{{data.Contact}} </td></tr>
    <tr><td>{{data.Pincode}} </td></tr>
    </center>
</table>
</div>