<div class="prof">
<img src="/images/ft.jpg" class="pro"><br>
<table class="t_pro">
    <tr><td>Name :</td></tr>
    <tr><td>Address :</td></tr>
    <tr><td>Pincode :</td></tr>
    <td>Contact :</td>
    
</table>
</div>