<div class="prof">
<img src="/images/ft.jpg" class="pro"><br>
<table class="t_pro">
    <tr><td>{{data.Full_name}}</td></tr>
    <tr><td>{{data.Contact}} :</td></tr>
    <tr><td>{{data.Pincode}} :</td></tr>
    <td>Contact :</td>
    
</table>
</div>