<form action="/farmer/work_request_post" method="post"> 
    <h1 class="f_head">WORK REQUEST</h1>
<div class="farmform"><br><br>
    <div class="rent">
  <div class="form-group">
    <input type="text" class="form-control" id="" name="Type" aria-describedby="emailHelp" placeholder="work type">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" id=""  name="Date" aria-describedby="emailHelp" placeholder="Date">
  </div>
  <div class="form-group">
    <input type="textarea" class="form-control" name="Address" id="" aria-describedby="emailHelp" placeholder="Address">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" id="" name="Pincode" aria-describedby="emailHelp" required pattern="[0-9]{6}" title="Enter a valid 6-digit pincode" name="Pincode" value="{{data.Pincode}}" placeholder="Pincode">
  </div>
  <div class="form-group">
    <input type="number" class="form-control" name="Contact" id="" aria-describedby="emailHelp" placeholder="Contact">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="status" id="" aria-describedby="emailHelp" value="pending" hidden>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="user_id" id="" aria-describedby="emailHelp" value="{{data}}" hidden>
  </div>
 
  <div class="form-group">
  <button type="submit" class="submit">Add</button>
  </div>
  
  </div>
</div>
</form>